MVVMTest.xcodeproj/xcuserdata/yy.xcuserdatad/xcschemes/xcschememanagement.plist
MVVMTest.xcworkspace/xcuserdata/yy.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/yy.xcuserdatad/xcschemes/xcschememanagement.plist
